/* Global ====================================================================*/
:root {
  --bg: #3d3d3d;
  --bg-panel: #dfdfdf;
  --color-text: #fff5f5;
  --color-text-secondary: #333333;
  --green: #49aa26;

  transition: all 0.3s linear;
}

/* retira todos os espaçamentos e tamanhos do documento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* tamanho da fonte, para questões de responsividade */
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-panel);
  height: 100vh;
}

header .container-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}
header .container-header img {
  border-radius: 50rem;
  width: 5rem;
  margin: 0 1rem;
}

header.header-pontos {
  background-color: var(--bg);
  padding: 1rem;
  color: var(--color-text);

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header.header-pontos article#container-pontos {
  background-color: var(--green);
  width: 20rem;
  color: var(--color-text);

  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 2rem;
  border-radius: 1rem;
}

article#container-pontos span#pontos-do-usuario {
  font-weight: bold;
  font-size: 2rem;
}

section #container-itens {
  background-color: red;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

section article.item {
  width: 20rem;
  background-color: yellow;
  padding: 2rem;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;

  border-radius: 1rem;
}

section article.item img {
  border-radius: 0.8rem;
  width: 100%;
  margin: 1rem;

  display: block;
}

section article.item span {
  font-weight: bold;
}

section #container-itens article button {
  width: 100%;
  height: 50px;
  background-color: var(--green);;
  color: var(--color-text);

  border: none;
  font-weight: bold;

  margin-top: 1rem;

  border-radius: 0.25rem;

  cursor: pointer;
}

footer.footer-container {
  padding: 2rem;

  background-color: var(--bg);
  color: var(--color-text);
}


/* Responsive =====================================*/
@media (max-width: 800px) {
  html {
    font-size: 87.5%;
  }

  body section .botao {
    height: 4rem;
    width: 4rem;
  }

  section header #barra-pesquisa {
    width: calc(100vw - 14vw);
  }

  section footer #hud-avisos {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer #hud-avisos button {
    height: 3.5rem;
    width: 3.5rem;
  }
}
