/* Global ====================================================================*/
:root {
  --bg: #3d3d3d;
  --bg-panel: #dfdfdf;
  --color-text: #fff5f5;
  --color-text-secondary: #333333;

  transition: all 0.3s linear;
}

/* retira todos os espaçamentos e tamanhos do documento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  z-index: 0;
}

html, body {
  /* tamanho da fonte, para questões de responsividade */
  font-size: 16px;

  font-family: "Open Sans", sans-serif;
}

/* Corpo da página ===========================================================*/
body section#map {
  /* tamanho da div do mapa com 100% da altura da página */
  height: 100vh;
  /* mapa no fundo de tudo */
  z-index: 1;
}

/* Estilo padrão principais botões da página =================================*/
body section .botao {
  background-color: var(--bg);
  height: 4.5rem;
  width: 4.5rem;
  
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;

  border: none;

  cursor: pointer;
}

body section button:hover {
  opacity: 0.9;
  transition: all 0.3s linear;
}

/* Header  ===================================================================*/
section header #botao-editar-rota {
  margin: 4rem 0 0 1rem;

  z-index: 2;
  position: fixed;
}

/* Rodapé - Barra de Pesquisa ================================================*/
body section footer {
  display: flex;
  align-items: center;

  z-index: 2;
  position: absolute;
  gap: 4rem;

  bottom: 1rem;
  margin: 0 calc(100% - 90%);
}

section footer #barra-pesquisa {
  width: 30rem;
}

section footer input {
  border: 1px solid var(--bg);
  border-radius: 50px;
  color: var(--color-text);
  
  background: var(--bg);
  padding: 1rem;
  width: 100%;

  font-size: 1.125rem;
}
section footer input::placeholder {
  color: var(--color-text);
  opacity: 0.7;
}

/* Rodapé - Hud de avisos ====================================================*/
section footer #hud-avisos {
  display: flex;
  gap: 2rem;
}

footer #hud-avisos button {
  height: 4rem;
  width: 4rem;
}