/* Global ====================================================================*/
:root {
  --bg: #3d3d3d;
  --bg-panel: #dfdfdf;
  --color-text: #fff5f5;
  --color-text-secondary: #333333;

  transition: all 0.3s linear;
}

/* Elementos =================================================================*/

/* retira todos os espaçamentos e tamanhos do documento */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /* altura de 100% da página, para ocupar todo o conteúdo */
  height: 100%;

  /* tamanho da fonte, para questões de responsividade */
  font-size: 16px;

  font-family: "Open Sans", sans-serif;
}

/* Corpo da página ===========================================================*/

body section#elementos {
  /* outros elementos na frente do mapa */
  position: absolute;
  z-index: 0;

  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body section#map {
  /* tamanho da div do mapa com 100% da altura da página */
  height: 100%;
  /* mapa no fundo de tudo */
  position: relative;
  z-index: -1;
}

/* Estilo padrão principais botões da página =================================*/
body section button {
  background-color: var(--bg);
  height: 4.5rem;
  width: 4.5rem;
  
  display: flex;
  border-radius: 50px;
  align-items: center;
  justify-content: center;

  border: none;

  cursor: pointer;
}

body section button:hover {
  opacity: 0.9;
}

/* Header  ===================================================================*/
body section header {
  margin: 4rem 0 0 1rem;
}

/* Rodapé - Barra de Pesquisa ================================================*/
body section footer {
  margin: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

section footer #barra-pesquisa {
  width: 30rem;
}

section footer input {
  border: 1px solid var(--bg);
  border-radius: 50px;
  color: var(--color-text);
  
  background: var(--bg);
  padding: 1rem;
  width: 100%;

  font-size: 1.125rem;
}
section footer input::placeholder {
  color: var(--color-text);
  opacity: 0.7;
}

/* Rodapé - Hud de avisos ====================================================*/
section footer #hud-avisos {
  display: flex;
  gap: 2rem;
}

footer #hud-avisos button {
 
  height: 4rem;
  width: 4rem;
  
}