@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main {
    width: 70%;
    margin: 60px auto 0;
    padding: 60px 0;
}

.minhasPergResps {
    padding: 100px 0 0;
}


/* Menu */

.header {
    width: 100%;
    padding: 15px 15%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient( -45deg, rgba(88, 195, 255, 1) 0, rgba(0, 77, 230, 1) 40%, rgba(0, 59, 177, 1) 100%);
}

#btn-mobile {
    display: none;
}

#nav {
    margin: 0 0 0 auto;
}

header a,
#nome-perfil {
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

nav a:hover,
#nome-perfil:hover {
    cursor: pointer;
    color: #fff;
}

#logo img {
    width: 30px;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

#logo:hover {
    color: #FFF;
}

#nomelogo {
    margin: 3px 5px 0 10px;
    font-family: 'Intro';
    color: white;
}

#menu {
    margin: 0 0 3px;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
}

#menu a {
    font-size: 15px;
    font-weight: 500;
}

#menu li i {
    display: none;
}


/* Perfil Desktop */

.profile {
    width: 40%;
    border-right: 1px solid rgba(0, 0, 0, .3);
    margin-right: 30px;
}

.editPerfil {
    width: 70%;
}

#avatar_img {
    width: 50%;
    border-radius: 100%;
    margin-bottom: 30px;
}

.infos {
    margin: 10px 0 0;
    padding: 0 0 10px;
}

.infos div {
    margin-top: 10px;
    font-size: 15px;
    display: flex;
    justify-content: initial;
    align-items: center;
}

.infos div span {
    display: flex;
    justify-content: initial;
    align-items: center;
    width: 125px;
}

i.fas {
    text-align: center;
    width: 20px;
    margin-right: 5px;
}

.hidden {
    display: none;
}

#location.hidden {
    display: none;
}

#pontos.hidden {
    display: none;
}


/* Edição de informações do Perfil */

#form-configPerfil input {
    border: none;
    border-radius: 0;
    border-bottom: 2px solid rgba(0, 0, 0, .5);
    height: 65px;
    margin-top: 30px;
}

#form-configPerfil input:focus {
    box-shadow: none;
    border-bottom-color: #1461ff;
}

#form-configPerfil input::placeholder {
    transition: all .2s;
}

#form-configPerfil input:focus::placeholder {
    transform: translateY(-25px);
    color: #1461ff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
}


/* Botões */

button[type=button] {
    margin: 30px 20px 0 0;
    background: #1461ff;
    border: none;
    border-radius: 50px;
    padding: 7px 20px;
    color: #fff;
    font-weight: 500;
    transition: all .2s;
}

button[type=button]:focus {
    box-shadow: none;
}

button[type=button]:hover {
    background: #fafafa;
    color: #1461ff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
}


/* Minhas Perguntas */

.questContent {
    margin-top: 30px;
    padding: 0;
    list-style: none;
}

.perg {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.perg h2 {
    font-size: 25px;
    font-weight: 600;
}

.questContent li {
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background: #fafafa;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    padding: 20px 30px;
    margin-top: 30px;
    transition: all .2s;
}

.questContent li a {
    color: #222;
    text-decoration: none;
}

.questContent li:hover {
    border-bottom: 2px solid #1461ff;
    transform: translateY(-7px);
}

.questContent li:hover .tituloPergunta {
    color: #1461ff;
}

.tituloPergunta {
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

.tituloData {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
}

span.data {
    font-size: 13px;
    margin-left: 15px;
    font-style: italic;
    transition: all .2s;
}

.questContent li:hover span.data {
    color: red;
}

.p1-pergunta {
    margin-top: -3px;
    font-size: 13px;
}

.p2-pergunta {
    margin: 10px 0 0;
    font-size: 16px;
}


/* Respostas */

.resps {
    margin-top: 50px;
}

.resps h2 {
    font-size: 25px;
    font-weight: 600;
}

.respContent {
    padding: 0;
    margin-top: 30px;
}

.respContent li {
    list-style: none;
    border: none;
    border-radius: 15px;
    background: #fafafa;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
    padding: 20px 30px;
    margin-top: 30px;
    transition: all .2s;
}

.tituloData {
    display: flex;
    align-items: center;
    margin: 0 0 15px;
}

span.data {
    font-size: 13px;
    margin-left: 15px;
    font-style: italic;
    transition: all .2s;
}

h4.nomeUser {
    margin: 0;
}

.respContent li:hover {
    cursor: pointer;
    border-bottom: 2px solid rgb(0, 163, 0);
    transform: translateY(-7px);
}

.respContent li:hover .nomeUser {
    color: rgb(0, 163, 0);
}

.respContent li:hover .data {
    color: red;
}

.nomeUser {
    font-size: 16px;
    font-weight: 600;
    transition: all .2s;
}

.contentResp {
    margin: 0;
}

.mnsgemRepos {
    font-size: 15px;
    font-style: italic;
    text-align: center;
}


/* Inicio Rodapé */

footer {
    margin-top: 50px;
    width: 100%;
    background: linear-gradient( -45deg, rgb(88, 195, 255) 10%, rgb(0, 77, 230) 50%, rgb(0, 59, 177) 100%);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, .2);
}

.principais-topicos {
    padding: 15px 30%;
}

.final-footer {
    width: 70%;
    margin: 10px auto 0;
}

div.logo-redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px 0;
    margin: 0;
    border-bottom: 1px solid #fafafa;
}

.logo-footer a,
.logo-footer a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    color: #fafafa;
}

#letra-rodape {
    font-family: 'Intro';
    color: #fafafa;
    font-size: 13px;
}

#logo-rodape {
    width: 20px;
}

#indicador-pagina-rodape {
    font-size: 13px;
    color: #fafafa;
}

.redes-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#siga-nos {
    margin-right: 5px;
    font-size: 10px;
    color: #fafafa;
}

.redes-footer i {
    color: #fafafa;
    width: 20px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    padding: 0;
}

.copyright-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-texto p {
    color: #fafafa;
    font-size: 13px;
}

.pais {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-expansivo {
    font-size: 1rem;
}

.editar-rotas,
.personalizar-rotas,
.explorar-o-mapa {
    margin-top: 20px;
    border: 1px solid #fafafa;
    border-radius: 10px 10px;
}

.titulo-rodape {
    margin: 30px 0 20px;
    font-weight: 600;
    color: #fafafa;
}

.btn {
    width: 100%;
    height: 40px;
}

#botao-principais-topicos {
    color: #fafafa;
    text-align: left;
}

#botao-principais-topicos:focus {
    box-shadow: none;
}

#icone-dropdonw {
    float: right;
}

#texto-expansivo {
    color: #fafafa;
    background: none;
    border: none;
}

.pais p {
    color: #fafafa;
    text-align: right;
    font-size: 14px;
}

#menu i,
#menu box-icon {
    display: none;
}


/* Fim Rodapé */


/* Mobile */

@media (max-width: 1000px) {
    /* Menu */
    .header {
        padding: 15px 5% !important;
        margin: 0;
        position: fixed;
        background: linear-gradient( -45deg, rgb(88, 195, 255) 0, rgb(0, 77, 230) 40%, rgb(0, 59, 177) 100%);
        z-index: 1000;
    }
    #nav {
        margin: 0 0 0 auto;
    }
    header a {
        color: #FFF;
        text-decoration: none;
    }
    #logo img {
        width: 30px;
    }
    #logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    #nomelogo {
        font-size: 15px;
        font-weight: bolder;
        margin-left: 5px;
    }
    #localpagina,
    #nome-perfil {
        display: none;
    }
    #menu {
        display: block;
        position: absolute;
        padding: 50% 0;
        z-index: 1000;
        height: calc(100vh - 60px);
        right: -200px;
        top: 60px;
        list-style: none;
        transition: all .4s;
    }
    #menu li {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    #menu li a {
        text-align: end;
        font-size: 14px;
        color: #222;
    }
    #menu i,
    #menu .bx {
        text-align: end;
        display: block;
        font-size: 18px;
        width: 30px;
    }
    #nav.active #menu {
        width: 55%;
        right: 0;
    }
    .main,
    .footer {
        transition: all .3s;
        box-shadow: 2px -15px 10px rgba(0, 0, 0, .1);
    }
    .main.active,
    .footer.active {
        transform: translateX(-55%);
    }
    #btn-mobile {
        display: flex;
        align-items: center;
        padding: .5rem 0;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
        margin: 0 0 0 auto;
        gap: .5rem
    }
    #hamburguer {
        margin-top: -2px;
        display: block;
        width: 20px;
        border-top: 1px solid;
    }
    #hamburguer::before,
    #hamburguer::after {
        content: '';
        display: block;
        width: 20px;
        border-top: 1px solid;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -6px;
    }
    #menu li i {
        display: block;
    }
    /*Profile*/
    .main {
        width: 100%;
    }
    .user {
        flex-direction: column;
        justify-content: center;
    }
    .profile {
        width: 90%;
        border: none;
        margin: 30px auto 0;
    }
    #perfil {
        text-align: center;
    }
    #avatar_img {
        margin: 0 auto 20px;
    }
    .infos {
        margin-top: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
    }
    .infos div {
        font-size: 13px;
    }
    i.fas {
        width: 15px;
    }
    .infos div span {
        width: 105px;
    }
    .editPerfil {
        width: 90%;
        margin: 0 auto;
    }
    .hudBtns {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    button[type=button] {
        margin: 30px auto 50px;
        font-size: 13px !important;
    }
    /* Área perguntas */
    .perg {
        padding-bottom: 30px;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
    .minhasPergResps {
        width: 95%;
        margin: 0 auto;
    }
    #p1 {
        margin: 10px 0;
        padding: 0;
        font-weight: normal;
        font-size: 23px;
        color: #1a1919;
    }
    #p2 {
        margin: 0;
        padding: 0;
        font-weight: normal;
        font-size: 18px;
        color: #1a1919;
    }
    .tituloPergunta {
        font-size: 17px;
        font-weight: 600;
        margin: 0;
        color: #1461ff;
    }
    .hudBtns {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .tituloData {
        flex-direction: column;
        align-items: start !important;
    }
    .questContent li {
        border-bottom: 2px solid #1461ff !important;
    }
    /* Área Respostas */
    .resps {
        margin-top: 30px;
    }
    .respContent li {
        border-bottom: 2px solid rgb(0, 163, 0) !important;
    }
    .nomeUser {
        color: rgb(0, 163, 0);
    }
    .data {
        margin: 10px 0 0 !important;
        color: red;
    }
    /* Rodapé */
    .principais-topicos {
        padding: 20px 10% !important;
    }
    .final-footer {
        width: 90% !important;
        margin: 0 auto;
    }
    .logo-redes {
        display: none;
    }
    .copyright {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 5%;
        margin-bottom: 30px;
    }
    .copyright-texto p {
        text-align: center;
        font-size: 13px;
    }
    div.logo-redes {
        display: none !important;
    }
    #linha-footer {
        display: none;
    }
    .pais {
        display: none !important;
    }
}

@media (min-width: 1001px) and (max-width: 1400px) {
    .main {
        width: 85%;
    }
    .profile {
        width: 45%;
    }
    i.fas {
        width: 15px;
    }
    .infos div span {
        width: 110px;
    }
    .infos div {
        font-size: 13px;
    }
    /* Área Perguntas */
    .tituloPergunta {
        font-size: 17px;
        font-weight: 600;
        margin: 0;
    }
    .hudBtns {
        display: flex;
        align-items: center;
        justify-content: right;
    }
    .hudBtns button {
        margin-left: 20px !important;
    }
    .questContent li {
        border-bottom: 2px solid #1461ff !important;
    }
    .tituloPergunta {
        color: #1461ff;
    }
    /* Área Respostas */
    .respContent li {
        border-bottom: 2px solid rgb(0, 163, 0) !important;
    }
    .nomeUser {
        color: rgb(0, 163, 0);
    }
    .data {
        margin-left: 10px !important;
        color: red;
    }
    /* Rodapé */
    .principais-topicos {
        padding: 20px 10% !important;
    }
}