body {
    display: flex;
    background: -webkit-linear-gradient(left, #ff6e7f, #82d3ff);
    overflow-x: hidden;
    align-items: center;   
    font-family: Arial, Helvetica, sans-serif; 
  
}

/* row referente à secção direita da página
com logo e slogan*/
.klug-info {
    background-color: #ff6e7f;
    padding: 40px 30px 40px 30px;
    margin: none;
    border: none;
    border-radius: 0 30px 30px 0;
}

#logo{
    width: 400px;
    height: 300px;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}


@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.slogan strong{
    color: white;
    font-size: 15px;
    text-align:center;
    padding: 20px;
}
.mobile{
    display:none;
}
/* row referente à secção esquerda da página
com o formulário*/
#login-column{
    background-color:white;
    padding: 40px 0 40px 70px;
    border: none;
    border-radius: 30px 0 0 30px;
}
.login{
    padding: 250px 250px 0px 0px;
}
.login-card{
    justify-content: center;
    align-items: center;  
}
.botoesBaixo{
    padding:10px;
    display:flex;
    justify-content:space-evenly;
}
/*row referente à secção de novo usuário*/
.modal-header {
    text-align: center;
    background: #ff6e7f;
    padding: 10px 0 10px 220px;
}

.klugNovoUsuario img {
    width:70px;
    animation: rotation 2s infinite linear;
}
    @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.preencher h3{
    color: #ff6e7f;
    text-align: center;
    
}
.preencher h6{
    color: #ff6e7f;
}
.cabecalho{
    display: flex;
}
.close span{
    padding-left:160px;
    float:right;
}
.newUser{
    display: block;
}
.submit{
    display: block;
}
#login-box1{
    padding-top: 50px;
}
#btn_salvar{
    background-color: #ff6e7f;
    border: red;
}
#btn_salvar:hover{
    background-color: #fa4358;
}
.btn-secondary{
    color:white;
    background-color: #82d3ff;
    border: blue;
}
.btn-secondary:hover{
    background-color:rgb(72, 177, 233);
}
.pergunta p{
    display: none;
}
/* adaptação para telas pequenas*/
@media screen and (min-width: 240px) and (max-width: 500px){
    body{
    align-items: center;
    width: 100%;
    padding: 0px;
    background:#ff6e7f;
    }
    .login{
        width: 100%;
        padding: 0px;  
        padding-bottom:100px;    
    }
    .klug-info {
       width:100%;
       border-radius: 0px;
       display: flex;
    }
    #logo{
        width:100%;
        padding: 40px 20px 15px 20px;
    }
    .slogan strong{
        font-size: 20px;
        padding: 30px 20px 50px 20px;
        text-align: center;
    }
    
    .pergunta p{
        display: inline-block;
        color: white;
        padding: 50px 20px 30px 20px;
        text-align: center;
        font-size: 18px;
    }
    .mobile{
        display: flex;
        padding-top: 50px;
        padding-bottom: 100px;
        justify-content: space-around;
    }
    .mobile button{
        color: white;
        background-color: rgb(72, 177, 233);
    }
    #login-column{
        display: hidden;
        border-radius:0px;
        padding: 40px 20px 100px 20px;
    }
    .botoesBaixo{
        display: inline-block;
        align-items: center;
        justify-content:space-between;
        padding: 10px;
    }
    .modal-header{
        padding: 10px 40px 10px 40px;
    }
    .close span{ 
        float:top;
    }
    .klugNovoUsuario img {
        width:20%;      
}
}
/*adaptação para telas médias*/
@media screen and (min-width: 501px) and (max-width: 1000px){
    body{
        align-items: center;
        width: 100%;
        padding: 0px;
        background:#ff6e7f;
        }
        .login{
            width: 100%;
            padding: 0px;  
            padding-bottom:100px;    
        }
        .klug-info {
           width:100%;
           border-radius: 0px;
           display: flex;
        }
        #logo{
            width:100%;
            padding: 40px 20px 15px 20px;
        }
        .slogan strong{
            font-size: 20px;
            padding: 50px 20px 50px 20px;
            text-align: center;
        }
        
        .pergunta p{
            display: inline-block;
            color: white;
            margin: 0px;
            padding: 50px 20px 50px 80px;
            text-align: center;
            font-size: 20px;
        }
        .mobile{
            display: flex;
            padding-top: 50px;
            padding-bottom: 100px;
            justify-content: space-around;
        }
        .mobile button{
            color: white;
            background-color: rgb(72, 177, 233);
        }
        #login-column{
            display: hidden;
            border-radius:0px;
            padding: 20px;
        }
        .botoesBaixo{
            display: inline-block;
            align-items: center;
            justify-content:space-between;
            padding: 10px;
        }
        .modal-header{
            padding: 10px 40px 10px 40px;
        }
        .close span{ 
            float:top;
        }
        .klugNovoUsuario img {
            width:20%;      
    }
}
/*adaptação para telas grandes*/
@media screen and (min-width: 1001px) and (max-width: 1400px){

    body{
        width: 100%;
    }
}
