@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
@font-face {
    font-family: Intro;
    src: url(Fontes/intro/Intro.otf)
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: #fafafa !important;
}

html {
    height: 100%;
}


/* Inicio Menu */

.header {
    width: 100%;
    padding: 15px 15%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient( -45deg, rgba(88, 195, 255, 1) 0, rgba(0, 77, 230, 1) 40%, rgba(0, 59, 177, 1) 100%);
}

#btn-mobile {
    display: none;
}

#nav {
    margin: 0 0 0 auto;
}

header a,
#nome-perfil {
    color: #FFF;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
}

nav a:hover,
#nome-perfil:hover {
    cursor: pointer;
    color: #fff;
}

#logo img {
    width: 30px;
}

#logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

#logo:hover {
    color: #FFF;
}

#nomelogo {
    margin: 3px 5px 0 10px;
    font-family: 'Intro';
    color: white;
}

#menu {
    margin: 0 0 3px;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
}

#menu a {
    font-size: 15px;
    font-weight: 500;
}


/*Fim Menu - Desktop*/


/* Inicio Barra de Pesquisa Suporte */

div.suport {
    padding: 100px 0;
    margin-top: 60px;
    background: #fff !important;
}

#titulo {
    text-align: center;
    color: #222;
    letter-spacing: 10px;
    font-family: 'Intro';
    font-size: 45px;
}

#search {
    margin-left: 20px;
    margin-right: auto;
    padding: 0;
}

#barra-pesquisa button {
    padding: 0;
    margin-left: auto;
    margin-right: 20px;
}

#barra-pesquisa {
    height: 35px;
    width: 650px;
    border-radius: 50px;
    background-color: #fff;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
}

#barra-pesquisa input,
#barra-pesquisa button {
    font-size: 15px;
    color: rgb(51, 51, 51) !important;
    border: none;
    background: none;
}

#barra-pesquisa input:focus,
#barra-pesquisa button:focus {
    box-shadow: none;
}

#icon_search:hover {
    color: rgb(121, 121, 121) !important;
}

input[type="text"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=text]::-webkit-inner-spin-button,
input[type=text]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.hidden {
    display: none;
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}


/* Fim Barra de Pesquisa Suporte */


/* Inicio Principais Problemas */

div.texto-problemas {
    margin: 80px auto;
    width: 750px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.principais-problemas a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #3E97FF;
    letter-spacing: 1px;
}

#lv {
    height: 60px;
    border-right: 1.5px solid #9F9F9F;
}


/* Fim Principais Problemas */


/* Inicio Link Editor de Rotas */

.link-editor {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
}

.icone-editar img {
    width: 50px;
    transform: scaleX(-1);
    margin-right: 20px;
}

.conteudo-editar h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
}

#texto-editar {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}

#link-para-editar {
    margin-top: 35px;
    margin-bottom: 70px;
}

#link-para-editar a {
    font-family: 'Montserrat', sans-serif;
    color: #3E97FF;
    text-decoration: none;
}

#seta {
    padding-left: 7px;
}


/* Fim Link Editor de Rotas */


/* Inicio Sobre Klug */

.sobre-klug {
    padding: 30px 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.content_tittleRepos {
    margin: 40px 0 100px;
    text-align: center;
}

.content_tittleRepos-reco {
    margin: 100px 0 70px;
    text-align: center;
}

#reposSubtittle {
    background-color: #1461ff;
    color: #FFF;
    padding: 5px 15px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
    border-radius: 5px;
}

.tituloRepos {
    margin: 5px 0 10px;
    padding: 0;
    font-size: 30px;
    font-family: 'Intro';
    font-weight: 600;
}

.textTittle {
    margin: 0 auto;
    max-width: 700px;
    font-size: 14px;
    color: #777;
}

.lineRepos {
    display: block;
    height: 2px;
    width: 70px;
    background-color: #1461ff;
    margin: 20px auto 15px;
}

#nome-klug {
    font-family: 'Intro';
}

div.conteudo-sobre {
    margin-top: 125px;
}

.texto-sobre-klug {
    padding: 0 0 50px;
    font-size: 17px;
    text-align: center;
    width: 65%;
    margin: 0 auto;
}

p.texto-sobre {
    margin-top: 40px;
}


/* Fim Sobre Klug */


/* Inicio Fale Conosco */

.fl-cn {
    margin-top: 200px;
    height: 100%;
}

.conteudo-fale-conosco h4 {
    margin: 60px auto;
    text-align: center;
}

#subtitulo-fale-conosco {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

#titulo-fale-conosco {
    font-family: 'Intro';
    font-size: 25px;
}

div.formulario-fale-conosco {
    width: 40%;
    margin: 0 auto;
}

#primeiro_nome,
#ultimo_nome,
#email,
#problema {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    border: hidden;
    background-color: #F4F2F2;
    padding: 7px 20px;
    border-radius: 10px 10px;
}

#primeiro_nome:focus,
#ultimo_nome:focus,
#email:focus,
#problema:focus {
    box-shadow: none;
}

#primeiro_nome:valid,
#ultimo_nome:valid,
#email:valid,
#problema:valid {
    border-color: green;
    background: #F4F2F2;
}

#primeiro_nome:invalid,
#ultimo_nome:invalid,
#email:invalid,
#problema:invalid {
    border-color: red;
    background: #F4F2F2;
}

#form-fc::placeholder {
    color: #A1A1A1;
}

#problema {
    height: 100px;
    margin-bottom: 6px;
}

#alerta {
    font-family: 'Montserrat', sans-serif;
    color: red;
}

#anexar {
    cursor: pointer;
    margin: 20px 0 5% 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

#paperclip {
    display: none;
}

div.formulario-fale-conosco button {
    float: right;
}

#botao_enviar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1461ff;
    margin: 0;
    padding: 7px 15px;
    border: none;
    font-size: 13px;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    width: 73px;
    transition: all .3s;
}

#botao_enviar:hover {
    background-color: #fafafa;
    color: #1461ff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}


/* Fim Fale Conosco */


/* Inicio Rodapé */

footer {
    margin-top: 100px;
    width: 100%;
    background: linear-gradient( -45deg, rgb(88, 195, 255) 10%, rgb(0, 77, 230) 50%, rgb(0, 59, 177) 100%);
    box-shadow: 0px -5px 10px rgba(0, 0, 0, .2);
}

.principais-topicos {
    padding: 15px 30%;
}

.final-footer {
    width: 70%;
    margin: 10px auto 0;
}

div.logo-redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 5px 0;
    margin: 0;
    border-bottom: 1px solid #fafafa;
}

.logo-footer a,
.logo-footer a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    color: #fafafa;
}

#letra-rodape {
    font-family: 'Intro';
    color: #fafafa;
    font-size: 13px;
}

#logo-rodape {
    width: 20px;
}

#indicador-pagina-rodape {
    font-size: 13px;
    color: #fafafa;
}

.redes-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

#siga-nos {
    margin-right: 5px;
    font-size: 10px;
    color: #fafafa;
}

.redes-footer i {
    color: #fafafa;
    width: 20px;
}

.copyright {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
    padding: 0;
}

.copyright-texto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright-texto p {
    color: #fafafa;
    font-size: 13px;
}

.pais {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-expansivo {
    font-size: 1rem;
}

.editar-rotas,
.personalizar-rotas,
.explorar-o-mapa {
    margin-top: 20px;
    border: 1px solid #fafafa;
    border-radius: 10px 10px;
}

.titulo-rodape {
    margin: 30px 0 20px;
    font-weight: 600;
    color: #fafafa;
}

.btn {
    width: 100%;
    height: 40px;
}

#botao-principais-topicos {
    color: #fafafa;
    text-align: left;
}

#botao-principais-topicos:focus {
    box-shadow: none;
}

#icone-dropdonw {
    float: right;
}

#texto-expansivo {
    color: #fafafa;
    background: none;
    border: none;
}

.pais p {
    color: #fafafa;
    text-align: right;
    font-size: 14px;
}

#menu i,
#menu .bx {
    display: none;
}


/* Fim Rodapé */


/* Mobile */

@media (max-width: 799px) {
    /* Menu */
    .header {
        padding: 15px 5% !important;
        margin: 0;
        position: fixed;
        z-index: 1000;
    }
    #nav {
        margin: 0 0 0 auto;
    }
    header a {
        color: #FFF;
        text-decoration: none;
    }
    #logo img {
        width: 30px;
    }
    #logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
    }
    #nomelogo {
        font-size: 15px;
        font-weight: bolder;
        margin-left: 5px;
    }
    #localpagina,
    #nome-perfil {
        display: none;
    }
    #menu {
        display: block;
        position: absolute;
        padding: 50% 0;
        z-index: 1000;
        height: calc(100vh - 60px);
        right: -200px;
        top: 60px;
        list-style: none;
        transition: all .4s;
        backdrop-filter: blur(3px);
    }
    #menu li {
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
    }
    #menu li a {
        text-align: end;
        font-size: 14px;
        color: #222;
    }
    #menu i,
    #menu .bx {
        text-align: end;
        display: block;
        font-size: 18px;
        width: 30px;
    }
    #nav.active #menu {
        width: 50%;
        right: 0;
    }
    .main,
    .footer {
        transition: all .3s;
        box-shadow: 2px -15px 10px rgba(0, 0, 0, .1);
    }
    .main.active,
    .footer.active {
        transform: translateX(-55%);
    }
    #btn-mobile {
        display: flex;
        align-items: center;
        padding: .5rem 0;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        color: white;
        margin: 0 0 0 auto;
        gap: .5rem
    }
    #hamburguer {
        margin-top: -2px;
        display: block;
        width: 20px;
        border-top: 1px solid;
    }
    #hamburguer::before,
    #hamburguer::after {
        content: '';
        display: block;
        width: 20px;
        border-top: 1px solid;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active.active #hamburguer {
        border-top-color: transparent;
    }
    #nav.active.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav.active.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -6px;
    }
    /* Pesquisa */
    #barra-pesquisa {
        width: 90%;
    }
    /* Principais Problemas */
    div.texto-problemas {
        display: flex;
        flex-direction: column;
        margin: 30px auto;
        text-align: center;
        width: 90%;
    }
    .texto-problemas a {
        padding: 25px 0;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
        color: #3E97FF;
        letter-spacing: 1px;
    }
    #lv {
        height: 1px;
        width: 70%;
        border-right: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }
    /* Link Editor Rotas */
    .icone-editar img {
        margin: 20px auto;
        width: 70px;
        transform: scaleX(-1);
    }
    .link-editor {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .conteudo-editar h4 {
        margin-top: 10px;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
    }
    #texto-editar {
        text-align: center;
        margin-top: 10px;
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
    }
    #link-para-editar {
        margin-top: 25px;
        margin-bottom: 70px;
        text-align: center;
    }
    #link-para-editar a {
        font-size: 17px;
        font-family: 'Montserrat', sans-serif;
        color: #3E97FF;
        text-decoration: none;
    }
    #seta {
        padding-left: 7px;
    }
    /* Sobre KLUG */
    .texto-sobre-klug {
        width: 90%;
    }
    /* Fale Conosco */
    div.formulario-fale-conosco {
        width: 90%;
        margin: 0 auto;
    }
    /* Rodapé */
    .principais-topicos {
        padding: 20px 10% !important;
    }
    .final-footer {
        width: 90% !important;
        margin: 0 auto;
    }
    .logo-redes {
        display: none;
    }
    .copyright {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 0 5%;
        margin-bottom: 30px;
    }
    .copyright-texto p {
        text-align: center;
        font-size: 13px;
    }
    div.logo-redes {
        display: none !important;
    }
    #linha-footer {
        display: none;
    }
    .pais {
        display: none !important;
    }
}